<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP tool</title>
    </head>

    <body>

        <header>
            <div class="logo">
                <img src="./images/src/client/lotus-flower.png" alt="logo">
            </div>
        </header>

        <main>
            <section>
                <form class="form">
                    <input id="text" type="text" name="input" value="" placeholder="URL">
                    <input id="btn" type="submit" name="" value="Submit" 
                        onclick="return Client.handleSubmit(event)"
                        onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section class="form-results">
                <div class="form-results-title">Form Results:</div>
                <div id="results">
                    <p>Score: <span id='score'></span></p>
                    <p>Agreement: <span id='agreement'></span></p>
                    <p>Subjectivity: <span id='subjectivity'></span></p>
                    <p>Confidence: <span id='confidence'></span></p>
                    <p>Irony: <span id='irony'></span></p>
                </div>
            </section>
        </main>

        <footer class="footer">
            <p>Sentiment Analysis</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ("serviceWorker" in navigator) {
              // Use the window load event to keep the page load performant
              window.addEventListener("load", () => {
                navigator.serviceWorker.register("/service-worker.js");
              });
            }
        </script>

    </body>
</html>
